<!--The whole content below can be removed with the new code.-->
<h1>Home</h1>
<nav>
  <a routerLink="/Home" routerLinkActive="active">Home</a>
  <a routerLink="/AboutUs" routerLinkActive="active">About us</a>
  <a routerLink="/Vietnam" routerLinkActive="active">Vietnam</a>
  <a routerLink="/Laos" routerLinkActive="active">Laos</a>
  <a routerLink="/Cambodia" routerLinkActive="active">Cambodia</a>
  <a routerLink="/Myanmar" routerLinkActive="active">Myanmar</a>
  <a routerLink="/MultiCountry" routerLinkActive="active">Multi Country</a>
  <a routerLink="/TravelBlog" routerLinkActive="active">Travel blog</a>
  <a routerLink="/ContactUs" routerLinkActive="active">Contact us</a>
</nav>
<app-users></app-users>

